body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
    text-align: center;
}
.nav {
    float: right;
    height: 100%;
    margin: 0 auto;
}
.navbar-img {
    height: 50px;
    float: left;
    padding-left: 10px;
}
.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: white;

}
.nav li {
    display: table-cell;
    vertical-align: middle;
    text-decoration: underline;
    height: 100%;
    color: white;
}
.header {
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    display: block;
    background-color: black;
    position: fixed;
    top: 0px;

}
.mission-container {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-over {
    margin: auto;
    background-color: black;
    width: 100%;
}

.trend-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
}

.teaimg img {
    width: 300px;
    height:200px;
    padding: 10px 10px;
}
.banner {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-top {
    font-size: 43px;
    font-weight: bold;
}
.box-container {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}
.box {
    height: 300px;
    padding: 20px;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.8;
    margin-bottom: auto;
}
.contact {

    height: 200px;
    width: auto;
}
footer {
    display: inline-block;
    float: left;
    padding-left: 20px;
}
/*
body{
    justify-content: center;
}
header {
    border: 1px solid seashell;
    height: 69px;
    width: 100%;
    justify-content: space-between
    text-decoration: underline;
    display: flex
    position: fixed;
    
}

.navbar {
    
    width: 50px;
    display:inline-block;
}

navbar-img {
    height: 700px;
}

.menu li {
    display: inline-block;
}

.teaimg {
    height: 200px;
    width: 300px;
}

.month {
    display:flex;
    align-content: flex-start;
    text-align: center;
    border:3px solid white;
    margin: 10px;
    width: 1000px;
    padding: 10px;
    
}

.contact {
    height: 500px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    display: flex;
    border:3px solid white;
}
.hero {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg')
    background-size: cover
    background-position: center
    height: 700px;
    display: flex;
    
}

.imgtext {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 300px;
}

.locations {
    display: flex;
    height: 700px;
    width: 1200px;
    flex-flow: row-reverse wrap;
    align-items: center
    justify-content: center;
    display: inline-flex;
}